version: "3.8"

services:
  mongodb:
    image: mongo
    container_name: mongodb
    ports:
      - "27018:27017"
    volumes:
      - mongo-data:/data/db
    # networks:
    #   - node-app-net

  backend:
    build: .
    container_name: node-app
    ports:
      - "3000:3000"
    depends_on:
      - mongodb
    # networks:
    #   - node-app-net

volumes:
  mongo-data:
    name: mongo-data

# networks:
#   node-app-net:
#     name: node-app-net
